@font-face {
    font-family: "Inter-bold";
    src: url(./../FontFiles/Inter-Bold.ttf)
}

@font-face {
    font-family: "Inconsolata";
    src: url(./../FontFiles/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(./../FontFiles/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(./../FontFiles/Lora-VariableFont_wght.ttf);
}

body{
    font-family: "Inter";
    min-height: 100vh;
    margin: 0px;
}

.app{
    width: 737px;
    margin: auto;
}

:root{
    --close: 50;
    --far: 10;
}

ul li{
    margin-bottom: 13px;
    line-height: 24px;
    font-size: 18px;
    color: #2D2D2D;
    font-weight: 400;
}

li::marker{
    color: #8F19E8;
}
